@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Cursive";
  src: url(font/GreatVibes-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  background-color: #eaebeb;
}

nav {
  backdrop-filter: blur(15px);
}

.custom-font-size {
  font-size: 12px;
}

.contacts-text {
  font-family: "Cursive";
}
/***************************HERO SECTION******************************/
.hero-section {
  background-image: url(img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
}

.hero-text {
  color: rgb(255, 255, 255);
  position: relative;
  top: -100px;
  font-family: "Montserrat";
  text-shadow: -3px 16px 6px rgba(0, 0, 0, 0.179);
}

.hero-text h1 {
  font-size: 60px;
}

.hero-text h3 {
  font-size: 40px;
  font-family: "Cursive";
}

/***************************DIVIDER******************************/
.custom-shape-divider-bottom-1720383779 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720383779 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1720383779 .shape-fill {
  fill: #eaebeb;
}

/**************************ABOUT SECTION*******************************/
.about-section {
  background-image: url(img/side-mountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/**************************MOUNTAIN SECTION*******************************/
.book {
  position: relative;

  width: 220px;
  height: 280px;
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 1px 1px 10px #808080ce;
  box-shadow: 1px 1px 10px #808080ce;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #eaebeb;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover img {
  position: absolute;
  width: 220px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.mountain-section h2 {
  font-size: 50px;
  font-weight: 1000;
  font-family: "Cursive";
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 10px;
}

/**************************MAP SECTION*******************************/
.map-section h2 {
  font-size: 50px;
  font-weight: 1000;
  font-family: "Cursive";
  padding: 15px;
}
/**************************conacts SECTION*******************************/
.contact-setion {
  background-color: #eaebeb;
  height: 60vh;
  padding: 0 20px 50px 20px;
}
.form-container {
  width: 400px;
  background: linear-gradient(#e9e9e9, #c9c9c9) padding-box,
    linear-gradient(145deg, transparent 35%, #939393, #000a0e) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #494949;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #494949;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #494949;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #001c0b;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #001c0b;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #929292;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

footer {
  background-color: #494949;
}
/************************************************RESPONSIVE******************************************************/
@media screen and (min-width: 400px) and (max-width: 700px) {
  .hero-text h1 {
    font-size: 35px;
  }

  .hero-text h3 {
    font-size: 25px;
    font-family: "Cursive";
  }

  .about-section {
    height: 100vh;
  }

  .about-section p {
    font-size: 15px;
  }

  .about-section h2 {
    font-size: 30px;
  }

  .mountain-section {
    height: 200vh;
  }
  .map-section form {
    display: flex;
    flex-direction: column;
  }
  .address-form {
    width: 500px;
  }

  .contact-setion {
    background-color: #eaebeb;
    height: 100vh;
    padding: 20px 20px 80px 20px;
  }
}
